body {
  background-image: url(./love.jpg);
  background-size: cover;

}

h2, p {
  color:#8B3759;
  font-size: 35px;
  text-align: center;
  border: 4px solid #857DB1;
  cursor: pointer;  
}

p {
  color: black;
  font-size: 20px;
}

li {
  list-style: none;
  color: #A95C7B;
  display: inline-block;
  padding: 35px;
  font-size: 35px;
}

.webtext {
  border: 2px dashed black;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
